<nav>
    <ul>
        <li><a href="{{ path('home') }}">Home</a></li>
        <li><a href="{{ path('import') }}">Import</a></li>
        <li><a href="{{ path('products') }}">Products</a></li>
        <li><a href="{{ path('product_validate') }}">Product validation</a></li>
    </ul>
</nav>
